body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    direction: rtl;
    height: 100vh;
    /* גובה מלא של חלון הדפדפן */
    margin: 0;
    overflow: hidden;
    /* מונע גלילה של כל העמוד (כולל התפריטים) */
    display: flex;
    /* הופך את כל העמוד לפלקס-בוקס אנכי */
    flex-direction: column;
}

.main-area {
    display: flex;
    padding: 0;
    z-index: 5;
    flex-grow: 1;
    /* ממלא את החלל שנשאר מתחת ל-Navbar ול-Toolbar */
    height: 0;
    /* טריק חשוב: מאפס גובה כדי לאלץ חישוב מחדש ע"י הפלקס */
    min-height: 0;
    overflow: hidden;
    /* מונע גלילה ברמה הזו */
}

.main-content {
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    overflow-y: auto;
    /* כאן נוצר פס הגלילה האנכי! */
    overflow-x: auto;
    /* גלילה אופקית אם צריך */
    display: block;
    z-index: 1;
    height: 100%;
    position: relative;
}

.editor-view {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: 1px solid #ddd;
    outline-offset: -1px;
    margin: 0;
    padding: 0;
    outline: none;
    min-width: 100%;
    min-height: 100%;
    display: flex;
}

.editor-downloader {
    min-width: 100%;
    min-height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    /* הטריק "לכליאת" אלמנטים עם position: fixed */
    transform: translate(0);
}

.editor-downloader:focus-visible,
.document-page:focus-visible {
    outline: none;
}

.document-page {
    line-height: 1.6;
    text-align: right;
    padding: 40px;
}

/* סימון אלמנט נבחר - ללא פגיעה ב-Border המקורי */
.selected-element {
    outline: 1px solid black !important;
    outline-offset: -1px;
    /* כדי שהקו יהיה בתוך האלמנט ולא יגדיל אותו */
}

.menu-hr {
    height: 1px;
    background: #eee;
    margin: 3px 0;
}