/* 1. הקונטיינר הראשי של הפאנלים */
#panels {
    flex: 1;
    overflow-y: auto;
    /* גלילה לגובה כשצריך */
    overflow-x: hidden;
    /* מניעת גלישה לצדדים */
    padding: 20px;
    background-color: var(--ui-5);
    z-index: 10;
    position: relative;
    width: 279px;
    /* כדי שהתוכן לא "יימעך" בזמן האנימציה */
}

.panel-header {
    width: 279px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: var(--ui-base);
    border-bottom: 1px solid var(--ui-15);
}

.panel-header-content label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 11px;
    margin-bottom: 3px;
    font-weight: bold;
}

.panel-header-content select,
.panel-header-content input {
    font-size: 13px;
    padding: 4px;
    border: 1px solid var(--ui-20);
    border-radius: 4px;
    background-color: var(--ui-base);
}


/* הגדרות ספציפיות */
#selectedElement {
    flex-grow: 1;
}

#theElement {
    background-color: var(--ui-5);
    /* רקע אפרפר לאינפוט קריאה בלבד */
}

#edition-states select {
    width: 80px;
}

/* === עיצוב אלמנטים בתוך הפאנלים === */

.panel {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--ui-15);
}

input,
select {
    width: 100%;
    /* מכריח להתאים לרוחב */
    min-width: 0;
    /* מונע תקיעה על רוחב דיפולטיבי */
    color: var(--ui-80);
}

/* תיקון ספציפי ל-Color Input כדי שייראה טוב */
#panels input[type="color"] {
    padding: 2px;
    height: 30px;
    cursor: pointer;
    max-width: 140px;
}


/*=================================
          רכיבי הפאנלים 
 ==================================*/


.ui-title {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--ui-10);
}

.ui-title.small {
    font-size: 12px;
    text-align: center;
    border-bottom: none;
}

.ui-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px 8px;
}


/* שורה רגילה (לייבל + אינפוט) */
.ui-control-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 24px;
    gap: 10px;
}

.ui-control-row.flex-col {
    flex-direction: column;
    justify-items: start;
    align-items: stretch;
    gap: 6px;
}

.ui-label {
    font-size: 13px;
    font-weight: 400;
}

/* --- Inputs --- */
.ui-input,
.ui-select {
    flex: 1;
    min-height: 32px;
    padding: 0 8px;
    border: 1px solid var(--ui-10);
    border-radius: var(--ui-radius);
    color: var(--ui-80);
    background: var(--ui-base);
    font-size: 13px;
    transition: border-color 0.2s;
    min-width: 0;
    width: 100%;
}

.ui-input:focus,
.ui-select:focus {
    border-color: var(--ui-accent);
    outline: none;
}

.ui-control-row,
.ui-grid {

    .ui-input,
    .ui-input-group,
    .ui-smart-color-group {
        max-width: 140px;
    }
}

/* Input Group (Number + Unit) */
.ui-input-group {
    display: flex;
    border: 1px solid var(--ui-20);
    border-radius: var(--ui-radius);
    overflow: hidden;
    background: var(--ui-base);
    align-items: stretch;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.ui-input-group:focus-within {
    border-color: var(--ui-accent-focus);
    box-shadow: 0 0 0 2px rgba(var(--h), 50%, 50%, 0.1);
}

.ui-input-group input {
    border: none !important;
    flex: 1;
    height: 30px;
    padding: 4px 8px;
    width: 60px;
    outline: none;
}

/* Select Unit Override */
.ui-input-group .ui-select {
    background: var(--ui-base);
    color: var(--ui-45);
    font-size: 11px;
    padding: 0 6px;
    border: none;
    cursor: pointer;
    outline: none;
    border-right: 1px solid var(--ui-10);
    width: 50px;
}


/* --- Sections --- */
.ui-section {
    border: 1px solid var(--ui-45);
    border-radius: var(--ui-radius);
    overflow: hidden;
    background: var(--ui-base);
    max-height: 500px;
    transition: all 0.3s ease-in-out;
}

.ui-section-head {
    background: var(--ui-10);
    padding: 8px 12px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.ui-section-head:hover {
    background: var(--ui-10);
}

.ui-section-head::after {
    content: '▼';
    font-size: 10px;
    color: var(--ui-45);
    transition: transform 0.3s ease-in-out;
}

/* כשהסקשן סגור, מסתירים את הגוף */
.ui-section.collapsed {
    max-height: 32.8px;
}

.ui-section.collapsed .ui-section-head::after {
    transform: rotate(-90deg);
}

.ui-section-body {
    padding: 20px 10px;
    border-top: 1px solid var(--ui-10);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* --- Buttons --- */
.ui-btn {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--ui-radius);
    border: 1px solid var(--ui-10);
    background: var(--ui-base);
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s;
}

.ui-btn:hover {
    transform: scale(0.95);
}

.ui-btn-primary {
    background: var(--ui-accent);
    color: var(--ui-base);
    border: none;
}

/* 
.ui-btn-primary:hover {
    background: rgba(255, 255, 255, 0.05);
} */

.ui-btn-danger {
    color: #ef4444;
    border-color: #fecaca;
    background: #fef2f2;
}

/* --- Toggle Switch --- */
.ui-switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 18px;
}

.ui-switch input {
    display: none;
}

.ui-slider {
    cursor: pointer;
    background-color: var(--ui-15);
    transition: .2s;
    border-radius: 9px;
    display: block;
    height: 100%;
}

.ui-slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: var(--ui-base);
    transition: .2s;
    border-radius: 50%;
}

input:checked+.ui-slider {
    background-color: var(--ui-accent);
}

input:checked+.ui-slider:before {
    transform: translateX(18px);
}


/*===================
     פאנל קלאסים
====================*/

.ui-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
    min-height: 30px;
    padding: 5px;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 4px;
}

.ui-class-tag {
    background-color: #e1f0fa;
    color: #005a9e;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ui-remove-class-btn {
    cursor: pointer;
    font-weight: bold;
    color: #005a9e;
}

.ui-remove-class-btn:hover {
    color: red;
}

.ui-class-list-container {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #eee;
    background: #fff;
}

.ui-class-list-item {
    padding: 5px 10px;
    font-size: 13px;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.ui-class-list-item:hover {
    background-color: #f0f0f0;
}